html,
body {
    height: 100vh;
    background-position: top center;
    background-image: url('./img/rain.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Global classes */
.center {
    align-self: center;
    text-align: center;
}

.p-all-1 {
    padding: 1rem;
}

.p-lr-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.p-tb-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nyeupe {
    color: #ffffff;
}

.font-larger {
    font-size: larger;
}

.font-large {
    font-size: large;
}

.font-title {
    font-size: xx-large;
}

/* End Global classes */
/* navbar header section */
.header {
    background-color: #000428;
    display: flex;
    justify-content: center;
    padding: 1.4rem 1rem 1.5rem 1rem;
    line-height: 0.45rem;
}

.logo {
    color: #ffffff;
    font-size: x-large;
}

/* end navbar header section */

/* Main section */
.main-sec {
    padding: 1rem;
}

.search {
    margin: auto;
    max-width: 500px;
    padding: 0.4rem;
    display: flex;
    box-sizing: border-box;
}

.search input {
    padding: 10px;
    font-size: large;
    border: 1px solid grey;
    width: 70%;
    background: #ffffff;
    transition: 0.2s ease-out;
}

.search button {
    width: 30%;
    padding: 10px;
    background-color: #48484a;
    color: #ffffff;
    font-size: large;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.search button:hover {
    background: #0b7dda;
}

.search input:focus {
    background-color: rgba(255, 255, 255, 0.6);
}

.weather-container {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.weather-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box {
    max-width: 30rem;
    min-width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexybox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 12px;
}

.temp {
    font-size: xxx-large;
    font-weight: bolder;
}

.weekly-forecast {
    padding: 0.4rem;
}

.weekly-card {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.daily-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: large;
}

.daily-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.weather-icon {
    width: 100px;
    height: 100px;
}

/* A2HS for pop up screen */
.a2hs {
    margin: auto;
    display: flex;
    justify-content: center;
}

.addBtn {
    position: absolute;
    bottom: 1px;
    padding: 10px;
    background-color: #48484a;
    color: #ffffff;
    font-size: large;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-bottom: 1rem;
}

/* End main section */